
/*NavBar Styling*/
#navvy {
    background-color: #5C5CFF;
}

body{
font-family:'Open Sans', sans-serif; 
}

#header
{
  image-orientation:from-image;  
}
.heading2 
{
    text-align:center;
    font-family:'Open Sans', sans-serif;
    font-size: 48px;
    background-color: #5C5CFF;
}
 

#media.heading
{
     font-family:'Open Sans', sans-serif;
    font-size: 12px;
}